section.section.section-upgrade .inline-wrap .compare-tile-display .bg-upgrade-image.ready-to-load {
	background-image: url("/vn/iphone-air/images/overview/upgrade/display__fjsw7dzyjyqa_large.jpg");
}

@media (min-resolution: 1.5dppx), (min-resolution: 144dpi) {
	section.section.section-upgrade .inline-wrap .compare-tile-display .bg-upgrade-image.ready-to-load {
		background-image: url("/vn/iphone-air/images/overview/upgrade/display__fjsw7dzyjyqa_large_2x.jpg");
	}
}

@media (max-width: 1068px) {
	section.section.section-upgrade .inline-wrap .compare-tile-display .bg-upgrade-image.ready-to-load {
		background-image: url("/vn/iphone-air/images/overview/upgrade/display__fjsw7dzyjyqa_medium.jpg");
	}
}

@media (max-width: 1068px) and (min-resolution: 1.5dppx), (max-width: 1068px) and (min-resolution: 144dpi) {
	section.section.section-upgrade .inline-wrap .compare-tile-display .bg-upgrade-image.ready-to-load {
		background-image: url("/vn/iphone-air/images/overview/upgrade/display__fjsw7dzyjyqa_medium_2x.jpg");
	}
}

@media (max-width: 734px) {
	section.section.section-upgrade .inline-wrap .compare-tile-display .bg-upgrade-image.ready-to-load {
		background-image: url("/vn/iphone-air/images/overview/upgrade/display__fjsw7dzyjyqa_small.jpg");
	}
}

@media (max-width: 734px) and (min-resolution: 1.5dppx), (max-width: 734px) and (min-resolution: 144dpi) {
	section.section.section-upgrade .inline-wrap .compare-tile-display .bg-upgrade-image.ready-to-load {
		background-image: url("/vn/iphone-air/images/overview/upgrade/display__fjsw7dzyjyqa_small_2x.jpg");
	}
}

section.section.section-upgrade .inline-wrap .compare-tile-center-stage .bg-upgrade-image.ready-to-load {
	background-image: url("/vn/iphone-air/images/overview/upgrade/center_stage__btzzlh82i7qq_large.jpg");
}

@media (min-resolution: 1.5dppx), (min-resolution: 144dpi) {
	section.section.section-upgrade .inline-wrap .compare-tile-center-stage .bg-upgrade-image.ready-to-load {
		background-image: url("/vn/iphone-air/images/overview/upgrade/center_stage__btzzlh82i7qq_large_2x.jpg");
	}
}

@media (max-width: 1068px) {
	section.section.section-upgrade .inline-wrap .compare-tile-center-stage .bg-upgrade-image.ready-to-load {
		background-image: url("/vn/iphone-air/images/overview/upgrade/center_stage__btzzlh82i7qq_medium.jpg");
	}
}

@media (max-width: 1068px) and (min-resolution: 1.5dppx), (max-width: 1068px) and (min-resolution: 144dpi) {
	section.section.section-upgrade .inline-wrap .compare-tile-center-stage .bg-upgrade-image.ready-to-load {
		background-image: url("/vn/iphone-air/images/overview/upgrade/center_stage__btzzlh82i7qq_medium_2x.jpg");
	}
}

@media (max-width: 734px) {
	section.section.section-upgrade .inline-wrap .compare-tile-center-stage .bg-upgrade-image.ready-to-load {
		background-image: url("/vn/iphone-air/images/overview/upgrade/center_stage__btzzlh82i7qq_small.jpg");
	}
}

@media (max-width: 734px) and (min-resolution: 1.5dppx), (max-width: 734px) and (min-resolution: 144dpi) {
	section.section.section-upgrade .inline-wrap .compare-tile-center-stage .bg-upgrade-image.ready-to-load {
		background-image: url("/vn/iphone-air/images/overview/upgrade/center_stage__btzzlh82i7qq_small_2x.jpg");
	}
}
